extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend enim facilisis metus posuere accumsan. Aliquam ac lobortis felis, ut faucibus mauris. 
			a.btn.btn-lg.btn-primary(href='#') Learn mode &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Donec sapien quam, pulvinar in elementum nec, blandit a diam. Suspendisse sit amet dolor est. Praesent ex metus, pharetra vitae odio ac, lobortis lacinia lorem.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Donec sapien quam, pulvinar in elementum nec, blandit a diam. Suspendisse sit amet dolor est. Praesent ex metus, pharetra vitae odio ac, lobortis lacinia lorem.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p Donec sapien quam, pulvinar in elementum nec, blandit a diam. Suspendisse sit amet dolor est. Praesent ex metus, pharetra vitae odio ac, lobortis lacinia lorem.
				a.btn.btn-default(href='#') View Details
